body {
    widows: 100%;
    height: 100%;
    background-color: #eee;
    font-size: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    width: 650px;
    margin: 0 auto;
    padding: 80px 15px 40px;
}

.calc {
    margin: 20px auto;
    background: linear-gradient(to right bottom, #8d0052, #19c09c);
    width: 380px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

.calc-display-input {
    width: 360px;
    height: 60px;
    margin: 20px 0;
    border-radius: 6px;
    background-color: #1D1D1D;
    color: rgb(25, 233, 18);
    text-align: right;
    font-size: 40px;
    padding: 10px;
}

.calc-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-gap: 10px;
grid-auto-columns: minmax(90px, auto);
grid-auto-rows: minmax(100px, auto);
 
}


.btn {
    
    background-color: #f4f4f4;
    font-size: 30px;
    color: #333030;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 0;
    cursor: pointer;
    transition: 0.1s all;
}

.btn-hover-red:hover {
    background: radial-gradient( #ff0101, #5df5d4);
    color: #f2f2f2;
}

.btn-hover-orange:hover {
    background: radial-gradient( #f57702, #5df5d4); 
    color: #f2f2f2;
}

.btn-hover-green:hover {
    background: radial-gradient( #09ff01, #5df5d4);
    color: #f2f2f2;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 1px #ccc;
}

.btn-long {
  grid-column: 1/3; 
}

.btn-equal {
    grid-row: 5/7; 
    grid-column: 4/5; 
}

input, button {
  
    border: 1px grey solid;
    border-radius: 4px;    
}


@media screen and (max-width: 768px) {
    .calc {
        width: 300px;
        margin: 0 auto;
    }
    .calc-display-input {
        width: 280px;
    }
    

    
    .btn {
        width : 64px;
    }
    .btn-long {
        width: 140px;
    }
}
@media screen and (max-width: 400px) {
    .calc {
        width: 280px;
    }
    .calc-display-input {
        width: 260px;
    }
    .btn {
        width : 60px;
    }
    .btn-long {
        width: 132px;
    }
}
